.outer {
	color: #28bfda;
	position: absolute;
	animation: spin1 0.3s linear infinite;
}
@keyframes spin1 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.inner {
	color: hsl(150, 100%, 66%);
	position: absolute;
	animation: spin2 0.7s linear infinite;
}

@keyframes spin2 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
